body {
    font-family: Arial, sans-serif;
    text-align: center;
}

canvas {
    border: 1px solid black;
    cursor: grab;
}

.keyboard button {
    margin: 2px;
    padding: 4px 8px;
}
/* Tombol Credits */
#btnCredits {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 14px;
    font-size: 13px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* Isi Modal */
.modal-content {
    background-color: white;
    margin: 8% auto;
    padding: 20px;
    width: 420px;
    border-radius: 10px;
    font-size: 14px;
}

/* Tombol Close */
.close {
    float: right;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
